# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Experiments / Results
# ===============================
logs/
log/

# ===============================
# Build / Packaging
# ===============================
build/
dist/
*.egg-info/